.container
{
    display: flex;
    flex-direction: row;
    gap: 2px;

}
.left-part{
    
    position: relative;
    text-align: center;
    
    
}
.thecape{
    height: 100vh;
    width: 50vw;
}
.title{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.credit{
    position: absolute;
    bottom: 8px;
    right: 16px;
    
    color: white;
}

a{
    color: white;
}
.right-part{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.top{
    background-color: #E5D9F2;
    padding: 120px;
}
.mid{
    background-color: #F5EFFF;
}
h2{
    text-align: center;
}
.bottom{
    background-color: #CDC1FF;
}
.info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
}
.first{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.second{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.the_form{
    display: flex;
    flex-direction: column;
}
.error{
    display: none;
    color:red;
}
.success{
    display: none;
    color: green;
}
#user_email:invalid {
    border-color: red;
  }
  
#user_email:valid {
    border-color: green;
  }