.container
{
    display: flex;
    flex-direction: row;
    gap: 2px;

}
.left-part{
    
    position: relative;
    text-align: center;
    
    
}
.thecape{
    height: 100vh;
    width: 50vw;
}
.title{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.2);
    width: 50vw;

}
.credit{
    position: absolute;
    bottom: 8px;
    right: 16px;
    
    color: white;
}

a{
    color: white;
    text-decoration: underline;
}
.right-part{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.top{
    background-color: #E5D9F2;
    padding: 120px;
}
.mid{
    background-color: #F5EFFF;
    padding-bottom: 100px;
    
}
h2{
    text-align: center;
}
.bottom{
    background-color: #CDC1FF;
    padding-bottom: 120px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
}
.first{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.second{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.the_form{
    display: flex;
    flex-direction: column;
}
.error{
    display: none;
    color:red;
}
.success{
    display: none;
    color: green;
}
#user_email:invalid {
    border-color: red;
  }
  
#user_email:valid {
    border-color: green;
  }

button{
    border-radius: 8px;
    background-color:aqua;
    font-size: 20px;
    border: solid white;
    color: white;
}
button {
    transition-duration: 0.2s;
  }
  
button:hover {
    background-color:black; 
  }

.first_word{
    color:white;
}
.alph1,.alph6{
    color: white;
}
.alph2,.alph7{
    color: green;
}
.alph3,.alph8{
    color: gold;
}
.alph4,.alph9{
    color:blue;
}
.alph5{
    color: red;
}
